
section{
    height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 2px solid black
}

img{
    max-width: 100%;
}

button{
    width: 10rem;
    padding: 1rem 1.5rem;
}


    